:root {

	--font-default-family: 'Nunito', sans-serif;
	--font-default-weight: 400; /* also italic */
	--font-default-weight-medium: 600;
	--font-default-weight-bold: 800;
	--font-headline-family: 'Patua One', serif;
	--font-headline-weight: 400;

	--color-global-background: #f9ffff;

	--color-box-border: #d1e7ff;
	--color-box-background: rgb(244,251,255);
	--gradient-box-background: linear-gradient(127deg, rgba(244,251,255,1) 6%, rgba(230,242,249,1) 80%);

	--color-text: #0c1e48;

	--color-link: #0000a6;
	--color-link-hover: #0b48ff;

}

	body.theme-color-scheme-blue {
		/* defaults to :root variables */
	}

	body.theme-color-scheme-green {

		--color-global-background: #f9fff9;

		--color-box-border: #8ed393;
		--color-box-background: rgb(244,255,246);
		--gradient-box-background: linear-gradient(127deg, rgba(244,255,246,1) 6%, rgba(242,249,230,1) 80%);

		--color-text: #32480c;

		--color-link: #0e8f1b;
		--color-link-hover: #51b70b;
		
	}

	body.theme-color-scheme-red {

		--color-global-background: #fff9f9;

		--color-box-border: #d3938e;
		--color-box-background: rgb(255,246,244);
		--gradient-box-background: linear-gradient(127deg, rgba(255,246,244,1) 6%, rgba(249,230,242,1) 80%);

		--color-text: #480c0c;

		--color-link: #8f0e0e;
		--color-link-hover: #e60c0c;
		
	}

	body.theme-color-scheme-lilac {

		--color-global-background: #fdf9ff;

		--color-box-border: #c18ed3;
		--color-box-background: rgb(251,244,255);
		--gradient-box-background: linear-gradient(127deg, rgba(251,244,255,1) 6%, rgba(251,230,255,1) 80%);

		--color-text: #320c48;

		--color-link: #850e8f;
		--color-link-hover: #a06fd0;
		
	}


html, body {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background: var(--color-global-background);
	color: var(--color-text);
	font-family: var(--font-default-family);
	font-weight: var(--font-default-weight);
	font-size: 16px;
	line-height: 1.4;
}

	@media( max-width: 640px ) {

		body {
			font-size: 14px;
		}

	}

main {
	min-height: calc(100vh - 40px);
	box-sizing: border-box;
	padding: 60px 20px;
}

.box {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	border: 1px solid var(--color-box-border);
	padding: 40px;
	border-radius: 10px;
	background: var(--color-box-background);
}

	.box > *:first-child {
		margin-top: 0;
	}

footer {
	text-align: right;
	font-size: 0.8em;
	padding: 10px 20px;
}
